<p>profil works!</p>

<div> <!--Ici, les informations esentielles sur le profil: nom, prénom, contact, spécialisation. 3 onglets pour choisir ce qu'on montre en bas -->
    
</div>
<div id="onglet_profil">
    <div><!--Ici, le bloc de gauche avec, en haut, la présentation, et en bas, les disponibilités-->
        <div><!--La présentation-->
    
        </div>
        <div><!--Les disponibilités-->
    
        </div>
    </div>
    <div><!--Ici, le tableau des offres de service-->
    
    </div>
</div>
<div id="onglet_cv">

</div>
<div id="onglet_offres">
    
</div>
