<div class="section"> 
    <div class="columns">
        <div class="column is-2 is-offset-1">
            <img src="https://www.pulaval.com/media/contributors/details_Bernard-Ducharme.jpg" alt="photo de l'utilisateur" /><!-- Ici viendra la photo de l'utilisateur-->
        </div>
        <div class="column is-8">
            <div class="columns"><!--La présentation-->
                <div class="column is-two-tird">
                    <br>
                    Nom: <input type="text" name="prenom" id="prenom" [(ngModel)]="pro.prenom" [ngClass]="{'disabled':modeEdition===false}"/> 
                        <input type="text" name="nom" id="nom" [(ngModel)]="pro.nom" [ngClass]="{'disabled':modeEdition==false}"/><br>
                    Contact: <input type="text" name="courriel" id="courriel" [(ngModel)]="pro.courriel" [ngClass]="{'disabled':modeEdition==false}"/>  <br>
                    Profession: **** <br>
                </div>            
                <div>
                    <button class="button is-link" id="modifier" name="modifier" (click)="ouvrirModification()">Modifier les informations</button><br>
                    <br>
                    <button class="button is-link" *ngIf="modeEdition" id="enregistrer" name="enregistrer" (click)="changerInfos()" >Enregistrer les modifications</button>                   
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section"> <!--Afficher la liste des expertises avec la possibilité de faire des ajouts-->
    <ol>
        <li *ngFor="let e of pro.expertises">
            {{ e.valeur }}
        </li>
    </ol>
</div>        

<div><!--Les disponibilités-->
                
</div>
<div><!--Ici, le tableau des offres de service-->

</div>

<div id="onglet_cv">
            
</div>
<div id="onglet_offres">
    
</div>
