<div class="section">
    <div class="columns">
        <div class="column is-offset-1 is-1">
            <select class="select" [(ngModel)]="critere">
                <option>Nom</option>
                <option>Spécialité</option>
            </select>
        </div>
        <div class="column is-6">
            <input type="text" class="input" [(ngModel)]="txtRecherche">
        </div>
        <div class="column is-2">
            <input type="button" class="button is-primary" value="Rechercher" (click)=chercher()>
        </div>
    </div>
</div>
<div class="section">
    <ng-template #viewContainerRef></ng-template>
</div>