<div class="section">
    <div class="columns">
        <div class="column is-4 is-offset-4">
            <div class="container">
                <h1 class="title has-text-centered">Identification</h1>
                    <form>
                        <div class="field">
                            <div class="control has-icons-left">
                                <input class="input" type="email" name="courriel" placeholder="courriel" [(ngModel)]="courriel"/>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                  </span>
                            </div>
                        </div>                          
                        <div class="field">
                            <div class="control has-icons-left">
                                <input  class="input" type="password" name="mdp" placeholder="mot de passe" [(ngModel)]="mdp"/>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                  </span>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <div class="select" >
                                    <select id="select_type_compte" name="type_compte" [(ngModel)]="type_compte">
                                        <option>Choisir le type de compte</option>
                                        <option>Professionnel</option>
                                        <option>Client</option>
                                    </select>
                                </div>
                            </div>  
                        </div>      
                            <button class="button is-link" (click)="connecterUtilisateur()">Se connecter</button><br> 
                            <a href>Oublié son mot de passe?</a><br>
                            <a routerLink="/creation-profil">Pas de profil? s'inscrire</a>
                    </form>    
            </div>
        </div>
    </div>
</div>
