<div class="container">
    <h2>Identification</h2>
    <form>
        <table border-spacing=10px>
            <tr>
                <td>Courriel : </td>
                <td><input type="email" name="courriel" [(ngModel)]="courriel"/></td>
            </tr>
            <tr>
                <td>Mot de passe : </td>
                <td><input type="password" name="mdp" [(ngModel)]="mdp"/></td>
            </tr>
            <tr>
                <td>Type de profil : </td>
                <td>    <input type="list"/><br> <!--ajouter une dataliste--></td>
            </tr>
            <tr>
                <td></td>
                <td><button (click)="connecterUtilisateur()">Se connecter</button><br> <!--ajouter le clic-->
            </td>
            </tr>
            <tr>
                <td></td>
                <td><a href>Oublié son mot de passe?</a></td>
            </tr>
            <tr>
                <td></td>
                <td><a routerLink="/creation-profil">Pas de profil? s'inscrire</a></td>
            </tr>
        </table>
    </form>
    <div *ngIf="proRecu">
        Profil <br>
        <ul>
            <li>{{ proRecu.nom }}</li>
            <li>{{ proRecu.prenom }}</li>
            <li>{{ proRecu.courriel }}</li>
            <li>{{ proRecu.mdp }}</li>
        </ul>
    </div>
</div>
<div>
    <a routerLink="/cherchePro">Aller vers la recherche</a>
</div>